@model EstudianteViewModel;

@{
    ViewBag.Title = "Editar Estudiante";
}

<h2>Estudiantes Registrados</h2>
<br />

@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger">
        @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
        {
            <p>@error.ErrorMessage</p>
        }
    </div>
}



@if (TempData["Mensaje"] != null)
{
    <div class="alert alert-success">@TempData["Mensaje"]</div>
}


<form action="/Estudiantes/Editar" method="post">
    <input type="hidden" name="Matricula" value="@Model.Matricula" />

    <label>Nombre completo:</label><br />
    <input type="text" name="NombreCompleto" value="@Model.NombreCompleto" /><br /><br />

    <div>
        <label asp-for="Carrera"></label>
        <select asp-for="Carrera" asp-items="@(new SelectList (
                                               new[] { "Ingeniería de Software",
                                                       "Contabilidad",
                                                       "Enfermería",
                                                       "Odontología",
                                                       "Derecho" }
                                                        ))">
            <option value="">-- Seleccione una carrera --</option>
        </select>
        <span asp-validation-for="Carrera" class="text-danger"></span>
    </div>

    <label>Correo institucional:</label><br />
    <input type="email" name="CorreoInstitucional" value="@Model.CorreoInstitucional" /><br /><br />

    <label>Teléfono:</label><br />
    <input type="tel" name="Telefono" value="@Model.Telefono" /><br /><br />

    <label>Fecha de nacimiento:</label><br />
    <input type="date" name="FechaNacimiento" value="@Model.FechaNacimiento.ToString("yyyy-MM-dd")" /><br /><br />

    <label>Género:</label><br />
    <input type="radio" name="Genero" value="Masculino" @(Model.Genero == "Masculino" ? "checked" : "") /> Masculino
    <input type="radio" name="Genero" value="Femenino" @(Model.Genero == "Femenino" ? "checked" : "") /> Femenino<br /><br />

    <div>
        <label asp-for="Turno"></label>
        <select asp-for="Turno" asp-items="@(new SelectList(
                                             new[] { "Mañana",
                                                     "Tarde",
                                                     "Noche" }
                                                    ))">
            <option value="">-- Seleccione turno --</option>
        </select>
        <span asp-validation-for="Turno" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="TipoIngreso">Tipo de Ingreso</label>
        <select asp-for="TipoIngreso" asp-items="@(new SelectList(
                                                   new[] { "Nuevo Ingreso",
                                                           "Reingreso",
                                                           "Transferencia" }
                                                          ))">
            <option value="">-- Seleccione tipo de ingreso --</option>
        </select>
        <span asp-validation-for="TipoIngreso" class="text-danger"></span>
    </div>

    <label><input type="checkbox" name="EstaBecado" value="true" @(Model.EstaBecado ? "checked" : "") /> ¿Está becado?</label><br /><br />

    <label>Porcentaje de beca:</label><br />
    <input type="number" name="PorcentajeBeca" value="@Model.PorcentajeBeca" /><br /><br />

    <label>
        <input type="checkbox" name="TerminosYCondiciones" value="true" @(Model.TerminosYCondiciones ? "checked" : "") />
        Acepto los términos y condiciones
    </label><br /><br />

    <button type="submit">Guardar cambios</button>
    <a href="/Estudiantes/Lista">Cancelar</a>
</form>
